<div class="footer">
    <div class="footer-socials">
<i class="fa-brands fa-square-instagram"></i>
<i class="fa-brands fa-square-facebook"></i>
<i class="fa-brands fa-square-linkedin"></i>
    </div>
    <div class="footer-brand">
        <p>&copy;WanderLust</p>
    </div>
    <div class="footer-links">
<a href="/privacy">Privacy</a>
<a href="/terms">Terms</a>
</div>
</div>