<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <div class="row">
<div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form method="post" action="/listings/add" novalidate class="needs-validation" enctype="multipart/form-data">
        <div>
         <label for="title" class="form-label">Title</label> 
        <input required type="text" name="listing[title]" placeholder="Enter title" class="form-control">
      <div class="valid-feedback"> Title looks Good</div>
            <div class="invalid-feedback">Please enter valid Title</div>
    </div>
       <div>
         <label for="description" class="form-label">Description</label> 
        <textarea  required name="listing[description]" class="form-control"></textarea>
          <div class="invalid-feedback">Enter Description</div>    
    </div>
        <div>
        <label for="image" class="form-label">Upload Listing Image</label> 
        <input type="file" name="listing[image]"  class="form-control">
    </div>
    <div class="row">
    <div class="col-md-4">
    <label for="price" class="form-label">Price</label> 
        <input required type="number" name="listing[price]" placeholder="Enter price" class="form-control">
              <div class="invalid-feedback">Enter valid price</div>
    </div>
        <div class="col-md-8">
        <label for="country" class="form-label">Country</label> 
        <input required type="text" name="listing[country]" placeholder="Enter country" class="form-control">
              <div class="invalid-feedback">Enter valid country</div>
    </div>
        </div>
        <div>
        <label for="location" class="form-label">Location</label> 
        <input required type="text" name="listing[location]" placeholder="Enter location" class="form-control">
             <div class="invalid-feedback">Enter valid location</div>
    </div>
        

        <br>
        <button style="width:5rem; border-radius:10%;background-color: rgb(248, 86, 86);">Add</button>

    </form>
</body>
</div>
</div>